@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --clr-very-dark: #0d1321;
  --clr-dark-blue: #1d2d44;
  --clr-med-blue: #3e5c76;
  --clr-light-blue: #748cab;
  --clr-light-white: #edf2f4;
  --font-family: "Roboto", sans-serif;
  --carousel-height: 350px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: var(--clr-light-white); */
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  color: var(--clr-very-dark);
  align-items: center;
}

body section {
  /* border: 1px solid black; */
  padding: 20px 10px;
}

header {
  width: 100%;
  height: 100px;
  background-color: var(--clr-med-blue);
  color: var(--clr-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

.btn {
  padding: 11px 20px;
  background-color: var(--clr-med-blue);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-dark-blue);
}

.dropdown-container {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-menu.visible {
  visibility: visible;
  /* border: 1px solid black; */
}

.dropdown-menu li {
  list-style: none;
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--clr-dark-blue);
}

.dropdown-menu li:hover {
  background-color: var(--clr-light-white);
}

.dropdown-menu {
  visibility: hidden;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 150px;
  z-index: 2;
  /* background-color: var(--clr-light-white); */
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
}

.mobile-container {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  flex-wrap: wrap;
}

.screen {
  min-width: 200px;
  height: 400px;
  border: 2px solid var(--clr-light-blue);
  border-radius: 22px;
  background-color: var(--clr-light-white);
  overflow: hidden;
}

.nav-bar {
  position: relative;
  width: 100%;
  color: white;
  background-color: var(--clr-dark-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 15px; */
}

.title {
  margin-left: 15px;
}

.nav-icon {
  color: white;
  margin-right: 15px;
}

.nav-menu {
  position: absolute;
  visibility: hidden;
  background-color: var(--clr-light-blue);
  overflow: hidden;
}

.nav-menu.expand-down {
  top: 60px;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav-menu.expand-down.visible {
  transform: translateX(0%);
  /* transition: visibility 0.9s ease-in-out; */
  visibility: visible;
}

.nav-menu li {
  list-style: none;
  padding: 11px 5px;
}

.nav-menu li:hover {
  background-color: var(--clr-light-white);
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.nav-menu li:hover a,
.nav-menu li:hover a i {
  color: var(--clr-light-blue);
}

.nav-menu a i {
  padding-right: 5px;
  color: white;
}

.nav-menu.side-drawer {
  position: absolute;
  padding-top: 20px;
  top: 0;
  width: 0%;
  height: 397px;
  transform: translateX(-100%);
  /* transition: width 200ms ease-in; */
  transition: transform 250ms ease-in-out;
  /* left: -100px; */
}

.side-drawer.visible {
  visibility: visible;
  opacity: 0.9;
  z-index: 10;
  left: 0;
  width: 75%;
  transform: translateX(0%);
  /* transition: transform 250ms; */
  /* transform: translateX(0%); */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav li {
  list-style: none;
  width: 100%;
  height: 100%;
  /* border: 1px solid var(--clr-light-white); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav li a,
.nav li a i {
  color: var(--clr-light-white);
  font-size: 14px;
  text-decoration: none;
}

.nav li.selected {
  border-bottom: 3px solid white;
  /* background-color: var(--clr-light-blue); */
}

/* Image carousel */
img {
  max-width: 100%;
}

.carousel-inner {
  overflow: hidden;
  position: relative;
  min-height: var(--carousel-height);
  width: 600px;
  border: 1px solid black;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.slide-content {
  position: relative;
  z-index: 5000;
  height: 100%;
}

.slide img {
  width: 100%;
  object-fit: cover;
}

.slide-caption {
  width: 100%;
  position: absolute;
  padding: 2em;
  left: 0;
  bottom: 0;
  color: var(--clr-light-white);
  font-weight: 300;
}

/* carousel controls */
/* .carousel-btn {} */
.carousel-btn--prev-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background-color: var(--clr-light-blue);
  color: var(--clr-light-white);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-btn--prev-next:hover {
  transform: translateY(-50%) scale(1.2);
}

.carousel-btn--prev {
  left: 2em;
}
.carousel-btn--next {
  right: 2em;
}

#carousel-1 {
  margin-top: 20px;
}

.carousel-pagination {
  display: flex;
  gap: 0.75em;
  justify-content: center;
  margin-top: 10px;
  /* border: none; */
}

.carousel-pagination .carousel-btn {
  background-color: #aaa;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  color: transparent;
  transition:
    transform 0.25s,
    background-color 0.25s ease-in-out;
}

.carousel-pagination .carousel-btn--active {
  background-color: #333;
  transform: scale(1.5);
}
